<!DOCTYPE html>
<html>
<head>
  <title>Web Development Template</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- Navigation menu -->
    {{>navbar}}

  <!-- Banner image -->
  <div class="banner"></div>

  <!-- Web development content -->
  <div class="content">
    <h2>Web Development</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed metus tellus. Morbi rhoncus nisi non felis viverra, at ullamcorper enim gravida. Phasellus vulputate velit eget quam malesuada, non mattis ligula finibus. In eu sapien justo. Vivamus vulputate ultrices sapien at pharetra.</p>
    <p>Pellentesque auctor lectus velit, in efficitur nisl semper et. Quisque vitae feugiat justo. Aenean pellentesque aliquet est, nec lacinia orci consectetur ac. Maecenas consectetur varius tortor in consectetur. Donec et dolor eu lorem faucibus eleifend a id ipsum. Proin pretium odio id rutrum lacinia.</p>
  </div>
    {{>footer}}
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
